In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
#import pandas_profiling
from datetime import datetime
%matplotlib inline

### Importing the dataset

In [2]:
df_19 = pd.read_excel("datasets/2019_Annual_Summary.xls", skiprows=0, header=1)
df_19.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington:,WECC,Complete loss of Interpersonal Communication a...,System Operations,0,Unknown
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington:,WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,230,230000
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California: Sacramento County;,WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,300,90382
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,"Washington: King County, Thurston County, Pier...",WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,Unknown,230000
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan:,RF,Complete loss of monitoring or control capabil...,System Operations,0,0

In [3]:
df_20 = pd.read_excel("datasets/2020_Annual_Summary.xls", skiprows=0, header=1)
df_20.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/09/2020,23:07:00,01/09/2020,23:19:00,Arkansas: Yell County;,SPP RE,"Unexpected Transmission loss within its area, ...",Severe Weather/Transmission Interruption,0,0
1,January,01/09/2020,20:45:00,01/10/2020,21:23:00,Washington: King County;,WECC,Cyber event that could potentially impact elec...,Suspicious Activity,0,0
2,January,01/09/2020,07:40:00,01/09/2020,08:48:00,Minnesota: North Dakota: Wisconsin:,MRO,Complete loss of monitoring or control capabil...,System Operations,0,0
3,January,01/09/2020,23:07:00,01/09/2020,23:18:00,Arkansas:,SPP RE,Electrical System Separation (Islanding) where...,System Operations,Unknown,Unknown
4,January,01/10/2020,14:53:00,Unknown,Unknown,Tennessee: Hamilton County;,SERC,Physical threat to its Facility excluding weat...,Suspicious Activity,Unknown,Unknown

In [4]:
df_21 = pd.read_excel("datasets/2021_Annual_Summary.xls", skiprows=0, header=1)
df_21.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/01/2021,07:04:00,01/01/2021,07:05:00,California: Alameda County;,WECC,Physical attack that could potentially impact ...,Vandalism,0,0
1,January,01/02/2021,10:28:00,01/02/2021,10:29:00,California: Butte County;,WECC,Electrical System Separation (Islanding) where...,System Operations,8,5803
2,January,01/04/2021,10:34:00,01/04/2021,10:49:00,Pennsylvania:,RF,"Unexpected Transmission loss within its area, ...",Transmission Interruption,6,3825
3,January,01/08/2021,01:26:00,01/08/2021,02:45:00,Arkansas: Prairie County;,SERC,Damage or destruction of its Facility that res...,Sabotage,Unknown,1908
4,January,01/10/2021,22:44:00,01/13/2021,16:00:00,"Texas: Anderson County, Angelina County, Dalla...",TRE,"Loss of electric service to more than 50,000 c...",Severe Weather,Unknown,188000

In [5]:
df_22 = pd.read_excel("datasets/2022_Annual_Summary.xls", skiprows=0, header=1)
df_22.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/01/2022,12:36:00,01/01/2022,14:12:00,Washington: Thurston County;,WECC,Damage or destruction of a Facility within it...,System Operations,0,0
1,January,01/01/2022,12:36:00,01/02/2022,19:43:00,Washington: Thurston County;,WECC,Damage or destruction of a Facility within it...,System Operations,0,0
2,January,01/01/2022,01:01:00,Unknown,Unknown,Georgia: Clayton County;,SERC,Damage or destruction of its Facility that res...,Vandalism,0,0
3,January,01/01/2022,00:06:00,01/01/2022,05:51:00,New Hampshire: Merrimack County;,NPCC,Damage or destruction of its Facility that res...,Suspicious Activity,2,845
4,January,01/02/2022,13:21:00,01/02/2022,17:38:00,California: Tuolumne County;,WECC,Electrical System Separation (Islanding) where...,Severe Weather,3,1706

### Concatenating the dataframes

In [6]:
frames = [df_19, df_20, df_21, df_22]
df = pd.concat(frames, ignore_index=True)
df.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington:,WECC,Complete loss of Interpersonal Communication a...,System Operations,0,Unknown
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington:,WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,230,230000
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California: Sacramento County;,WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,300,90382
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,"Washington: King County, Thurston County, Pier...",WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,Unknown,230000
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan:,RF,Complete loss of monitoring or control capabil...,System Operations,0,0

In [7]:
# Saving the data to a .csv file
df.to_csv('datasets/df.csv', index=False)

In [8]:
df = pd.read_csv('datasets/df.csv')
df.head(2)

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington:,WECC,Complete loss of Interpersonal Communication a...,System Operations,0,Unknown
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington:,WECC,"Loss of electric service to more than 50,000 c...",Severe Weather,230,230000

### Basic information about the dataset

In [9]:
#dataset shape
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')

The dataset has 1438 rows and 11 columns.

In [10]:
# dataset columns
df.columns

Index(['Month', 'Date Event Began', 'Time Event Began', 'Date of Restoration',
       'Time of Restoration', 'Area Affected', 'NERC Region', 'Alert Criteria',
       'Event Type', 'Demand Loss (MW)', 'Number of Customers Affected'],
      dtype='object')

In [11]:
# replacing white space with underscore
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['Month', 'Date_Event_Began', 'Time_Event_Began', 'Date_of_Restoration',
       'Time_of_Restoration', 'Area_Affected', 'NERC_Region', 'Alert_Criteria',
       'Event_Type', 'Demand_Loss_(MW)', 'Number_of_Customers_Affected'],
      dtype='object')

In [12]:
# dataset dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Date_Event_Began              1438 non-null   object
 2   Time_Event_Began              1438 non-null   object
 3   Date_of_Restoration           1438 non-null   object
 4   Time_of_Restoration           1438 non-null   object
 5   Area_Affected                 1438 non-null   object
 6   NERC_Region                   1438 non-null   object
 7   Alert_Criteria                1438 non-null   object
 8   Event_Type                    1438 non-null   object
 9   Demand_Loss_(MW)              1438 non-null   object
 10  Number_of_Customers_Affected  1437 non-null   object
dtypes: object(11)
memory usage: 123.7+ KB

In [13]:
df.isnull().sum()

Month                           0
Date_Event_Began                0
Time_Event_Began                0
Date_of_Restoration             0
Time_of_Restoration             0
Area_Affected                   0
NERC_Region                     0
Alert_Criteria                  0
Event_Type                      0
Demand_Loss_(MW)                0
Number_of_Customers_Affected    1
dtype: int64

In [14]:
# dropping the 'alert criteria' and 'Nerc Region' columns
df = df.drop(columns=['NERC_Region',
                      'Alert_Criteria'])
df.head()

,Month,Date_Event_Began,Time_Event_Began,Date_of_Restoration,Time_of_Restoration,Area_Affected,Event_Type,Demand_Loss_(MW),Number_of_Customers_Affected
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington:,System Operations,0,Unknown
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington:,Severe Weather,230,230000
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California: Sacramento County;,Severe Weather,300,90382
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,"Washington: King County, Thurston County, Pier...",Severe Weather,Unknown,230000
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan:,System Operations,0,0

In [15]:
# There is a double January month
df['Month'].unique()

array(['January ', 'January', 'February', 'March', 'April', 'May', 'June',
       'July', 'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [23]:
# Replacing the wrong january months
df.loc[df['Month'] == 'January ','Month'] = 'January'
df['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [24]:
# Concatenating the data and time events in one columns

df['Date_Time_Event_Began'] = df['Date_Event_Began'] +' '+ df['Time_Event_Began']
df['Date_Time_Restoration'] = df['Date_of_Restoration'] +' '+ df['Time_of_Restoration']

# Dropping the old columns
df = df.drop(columns=['Date_Event_Began','Time_Event_Began','Date_of_Restoration','Time_of_Restoration'])

df.head()

,Month,Area_Affected,Event_Type,Demand_Loss_(MW),Number_of_Customers_Affected,Date_Time_Event_Began,Date_Time_Restoration
0,January,Washington:,System Operations,0,Unknown,01/05/2019 13:19:00,01/05/2019 15:07:00
1,January,Washington:,Severe Weather,230,230000,01/06/2019 03:00:00,01/09/2019 07:00:00
2,January,California: Sacramento County;,Severe Weather,300,90382,01/06/2019 17:56:00,01/06/2019 21:52:00
3,January,"Washington: King County, Thurston County, Pier...",Severe Weather,Unknown,230000,01/06/2019 01:00:00,01/06/2019 12:00:00
4,January,Michigan:,System Operations,0,0,01/07/2019 20:57:00,01/07/2019 21:32:00

In [26]:
# Setting the date/time events colmuns as datetime format
df['Date_Time_Event_Began'] = pd.to_datetime(df['Date_Time_Event_Began'], errors='coerce')
df['Date_Time_Restoration'] = pd.to_datetime(df['Date_Time_Restoration'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area_Affected                 1438 non-null   object
 2   Event_Type                    1438 non-null   object
 3   Demand_Loss_(MW)              1438 non-null   object
 4   Number_of_Customers_Affected  1437 non-null   object
 5   Date_Time_Event_Began         1438 non-null   datetime64[ns]
 6   Date_Time_Restoration         1242 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 78.8+ KB

In [28]:
af = df_concat2['Area Affected'].str.extract("([A-Za-z]+)\:")
af.head(10)

            0
0  Washington
1  Washington
2  California
3  Washington
4    Michigan
5      Mexico
6     Montana
7       Maine
8    Missouri
9    Missouri

In [29]:
df_concat2['Area Affected'] = df_concat2['Area Affected'].str.extract("([A-Za-z]+)\:")
df_concat2.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington,WECC,System Operations,0,Unknown,2019
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,Washington,WECC,Severe Weather,Unknown,230000,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019

### Changing the 'area affected' column

In [2]:
df_concat2 = pd.read_csv('datasets/df_concat2.csv')
df_concat2.shape

(1438, 11)

In [3]:
df_concat2['Area Affected'].head()

0                                          Washington:
1                                          Washington:
2                       California: Sacramento County;
3    Washington: King County, Thurston County, Pier...
4                                            Michigan:
Name: Area Affected, dtype: object

In [4]:
af = df_concat2.loc[20:40,'Area Affected']
af

20           Louisiana: Washington Parish;
21                             Washington:
22                 Illinois: Scott County;
23                               Michigan:
24                  Illinois: Pike County;
25                             California:
26                                  Nevada
27                           Massachusetts
28                              California
29                              California
30                                Arkansas
31                                Michigan
32                            Pennsylvania
33                              Washington
34                              California
35                              New Jersey
36                                    Utah
37                                   Texas
38    Wisconsin, Minnesota, Iowa, Illinois
39                                Virginia
40                            Pennsylvania
Name: Area Affected, dtype: object

In [5]:
def string_search(s, search):
    return search in str(s)

df_temp = pd.DataFrame(data = df_concat2['Area Affected'].values)
#df_temp = df_concat2['Area Affected']

mask2 = df_temp.applymap(lambda x: string_search(x, ':'))
mask2

         0
0     True
1     True
2     True
3     True
4     True
...    ...
1433  True
1434  True
1435  True
1436  True
1437  True

[1438 rows x 1 columns]

In [6]:
def split_string(series):
    return re.split(':', series)[0]

In [7]:
df_temp = df_temp.loc[mask2.any(axis=1)].applymap(lambda x: split_string(x))
df_temp

               0
0     Washington
1     Washington
2     California
3     Washington
4       Michigan
...          ...
1433        Ohio
1434      Oregon
1435   Minnesota
1436      Nevada
1437  California

[1409 rows x 1 columns]

In [8]:
df_concat2_test = df_concat2
df_concat2_test

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington:,WECC,System Operations,0,Unknown,2019
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington:,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California: Sacramento County;,WECC,Severe Weather,300,90382,2019
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,"Washington: King County, Thurston County, Pier...",WECC,Severe Weather,Unknown,230000,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan:,RF,System Operations,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
1433,December,12/29/2022,16:00:00,Unknown,Unknown,Ohio:,RF,Vandalism,2600,Unknown,2022
1434,December,12/30/2022,05:25:00,12/30/2022,14:17:00,Oregon: Sherman County;,WECC,Transmission Interruption,0,0,2022
1435,December,12/30/2022,17:04:00,Unknown,Unknown,Minnesota: Washington County;,MRO,Transmission Interruption,Unknown,Unknown,2022
1436,December,12/31/2022,20:00:00,01/03/2023,00:00:00,Nevada:,WECC,Severe Weather,Unknown,3500,2022
1437,December,12/31/2022,19:00:00,01/01/2023,06:00:00,California: Sacramento County;,WECC,Severe Weather,Unknown,161000,2022

In [9]:
indic = df_temp.index

In [10]:
df_concat2_test.loc[indic,'Area Affected'] = df_temp.values
df_concat2_test

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington,WECC,System Operations,0,Unknown,2019
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,Washington,WECC,Severe Weather,Unknown,230000,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
1433,December,12/29/2022,16:00:00,Unknown,Unknown,Ohio,RF,Vandalism,2600,Unknown,2022
1434,December,12/30/2022,05:25:00,12/30/2022,14:17:00,Oregon,WECC,Transmission Interruption,0,0,2022
1435,December,12/30/2022,17:04:00,Unknown,Unknown,Minnesota,MRO,Transmission Interruption,Unknown,Unknown,2022
1436,December,12/31/2022,20:00:00,01/03/2023,00:00:00,Nevada,WECC,Severe Weather,Unknown,3500,2022
1437,December,12/31/2022,19:00:00,01/01/2023,06:00:00,California,WECC,Severe Weather,Unknown,161000,2022

In [11]:
df_concat2_test.isnull().sum()

Month                           0
Date Event Began                0
Time Event Began                0
Date of Restoration             0
Time of Restoration             0
Area Affected                   0
NERC Region                     0
Event Type                      0
Demand Loss (MW)                0
Number of Customers Affected    1
Year                            0
dtype: int64

### Creating a dataframe without the 'unknown' variables

In [27]:
df_concat3 = pd.read_csv('datasets/df_concat3.csv')

In [28]:
df_unknown_mask = df_concat3 != 'Unknown'
df_unknown_mask

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1433,True,True,True,False,False,True,True,True,True,False,True
1434,True,True,True,True,True,True,True,True,True,True,True
1435,True,True,True,False,False,True,True,True,False,False,True
1436,True,True,True,True,True,True,True,True,False,True,True
1437,True,True,True,True,True,True,True,True,False,True,True

In [29]:
unknown_mask_feat = df_unknown_mask.all(axis=1)
unknown_mask_feat[0:10]

0    False
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8    False
9    False
dtype: bool

In [30]:
sum(unknown_mask_feat)

863

In [31]:
df_no_unknown = df_concat3.loc[unknown_mask_feat,:].copy()
df_no_unknown

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019
5,January,01/09/2019,11:55:00,01/09/2019,11:56:00,New Mexico,WECC,Suspicious Activity,0,0,2019
6,January,01/10/2019,12:19:00,01/10/2019,12:48:00,Montana,WECC,System Operations,11,2,2019
...,...,...,...,...,...,...,...,...,...,...,...
1427,December,12/27/2022,13:30:00,12/27/2022,21:16:00,California,WECC,Vandalism,0,0,2022
1429,December,12/27/2022,20:40:00,12/27/2022,20:41:00,Washington,WECC,Severe Weather,11,11600,2022
1431,December,12/27/2022,07:20:00,12/27/2022,11:22:00,California,WECC,Vandalism,0,0,2022
1432,December,12/29/2022,13:14:00,12/29/2022,13:55:00,Washington,WECC,Vandalism,0,0,2022
1434,December,12/30/2022,05:25:00,12/30/2022,14:17:00,Oregon,WECC,Transmission Interruption,0,0,2022

In [32]:
df_no_unknown = df_no_unknown.reset_index(drop=True)
df_no_unknown

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
1,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
2,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019
3,January,01/09/2019,11:55:00,01/09/2019,11:56:00,New Mexico,WECC,Suspicious Activity,0,0,2019
4,January,01/10/2019,12:19:00,01/10/2019,12:48:00,Montana,WECC,System Operations,11,2,2019
...,...,...,...,...,...,...,...,...,...,...,...
858,December,12/27/2022,13:30:00,12/27/2022,21:16:00,California,WECC,Vandalism,0,0,2022
859,December,12/27/2022,20:40:00,12/27/2022,20:41:00,Washington,WECC,Severe Weather,11,11600,2022
860,December,12/27/2022,07:20:00,12/27/2022,11:22:00,California,WECC,Vandalism,0,0,2022
861,December,12/29/2022,13:14:00,12/29/2022,13:55:00,Washington,WECC,Vandalism,0,0,2022
862,December,12/30/2022,05:25:00,12/30/2022,14:17:00,Oregon,WECC,Transmission Interruption,0,0,2022

In [33]:
df_no_unknown.to_csv('datasets/df_no_unknown.csv', index=False)

### Modifying the 'Area Affected' column to 'State Affected'

In [34]:
df_concat3 = pd.read_csv('datasets/df_concat3.csv')
df_concat3.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington,WECC,System Operations,0,Unknown,2019
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,Washington,WECC,Severe Weather,Unknown,230000,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019

In [35]:
df_concat3['Area Affected'].value_counts()

Texas                                                                      213
California                                                                 197
Washington                                                                  78
Michigan                                                                    58
Louisiana                                                                   57
New York                                                                    53
Pennsylvania                                                                44
Ohio                                                                        44
North Carolina                                                              38
Florida                                                                     34
Oregon                                                                      34
Nevada                                                                      34
Maine                                                                       30
Missouri                                                                    30
Oklahoma                                                                    28
Arkansas                                                                    27
Connecticut                                                                 26
Minnesota                                                                   25
Alabama                                                                     23
North Dakota                                                                22
Wisconsin                                                                   20
Colorado                                                                    19
Indiana                                                                     18
Utah                                                                        18
Nebraska                                                                    18
Illinois                                                                    17
Mississippi                                                                 16
New Jersey                                                                  16
Massachusetts                                                               15
Idaho                                                                       15
Virginia                                                                    15
Kentucky                                                                    15
Georgia                                                                     14
South Carolina                                                              12
Iowa                                                                        12
Maryland                                                                    11
Tennessee                                                                   11
South Dakota                                                                 9
Arizona                                                                      9
New Hampshire                                                                9
Kansas                                                                       9
New Mexico                                                                   8
West Virginia                                                                8
Montana                                                                      7
District of Columbia                                                         4
Delaware                                                                     4
Wyoming                                                                      3
Vermont                                                                      2
Oklahoma, Arkansas, Louisiana                                                1
Connecticut, Massachusetts, New Hampshire, Maine, Vermont, Rhode Island      1
Ohio, Virginia, West Virginia                                                1
Northern and Central California;                                             1
Western NY                                                                   1
Wisconsin, Minnesota, Iowa, Illinois                                         1
Central Oklahoma                                                             1
Texas panhandle, SE NM                                                       1
Rhode Island                                                                 1
Name: Area Affected, dtype: int64

In [36]:
df_concat3['Area Affected'].replace(to_replace='Texas panhandle, SE NM', value='Texas, New Mexico',inplace=True)
df_concat3['Area Affected'].replace(to_replace='District of Columbia', value='Washington', inplace=True)
df_concat3['Area Affected'].replace(to_replace='Northern and Central California', value='California', inplace=True)
df_concat3['Area Affected'].replace(to_replace='Central Oklahoma', value='Oklahoma', inplace=True)
df_concat3['Area Affected'].replace(to_replace='Western NY', value='New York', inplace=True)

df_concat3['Area Affected'].value_counts()

Texas                                                                      213
California                                                                 197
Washington                                                                  82
Michigan                                                                    58
Louisiana                                                                   57
New York                                                                    54
Ohio                                                                        44
Pennsylvania                                                                44
North Carolina                                                              38
Oregon                                                                      34
Nevada                                                                      34
Florida                                                                     34
Missouri                                                                    30
Maine                                                                       30
Oklahoma                                                                    29
Arkansas                                                                    27
Connecticut                                                                 26
Minnesota                                                                   25
Alabama                                                                     23
North Dakota                                                                22
Wisconsin                                                                   20
Colorado                                                                    19
Indiana                                                                     18
Utah                                                                        18
Nebraska                                                                    18
Illinois                                                                    17
Mississippi                                                                 16
New Jersey                                                                  16
Idaho                                                                       15
Kentucky                                                                    15
Massachusetts                                                               15
Virginia                                                                    15
Georgia                                                                     14
South Carolina                                                              12
Iowa                                                                        12
Maryland                                                                    11
Tennessee                                                                   11
Arizona                                                                      9
South Dakota                                                                 9
Kansas                                                                       9
New Hampshire                                                                9
West Virginia                                                                8
New Mexico                                                                   8
Montana                                                                      7
Delaware                                                                     4
Wyoming                                                                      3
Vermont                                                                      2
Texas, New Mexico                                                            1
Oklahoma, Arkansas, Louisiana                                                1
Northern and Central California;                                             1
Connecticut, Massachusetts, New Hampshire, Maine, Vermont, Rhode Island      1
Ohio, Virginia, West Virginia                                                1
Wisconsin, Minnesota, Iowa, Illinois                                         1
Rhode Island                                                                 1
Name: Area Affected, dtype: int64

In [37]:
df_concat3.to_csv('datasets/df_concat3.csv', index=False)

### Correcting the 'Event type' column

In [2]:
df_concat3 = pd.read_csv('datasets/df_concat3.csv')
df_concat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Date Event Began              1438 non-null   object
 2   Time Event Began              1438 non-null   object
 3   Date of Restoration           1438 non-null   object
 4   Time of Restoration           1438 non-null   object
 5   Area Affected                 1438 non-null   object
 6   NERC Region                   1438 non-null   object
 7   Event Type                    1438 non-null   object
 8   Demand Loss (MW)              1438 non-null   object
 9   Number of Customers Affected  1438 non-null   object
 10  Year                          1438 non-null   int64
dtypes: int64(1), object(10)
memory usage: 123.7+ KB

In [3]:
df_concat3['Event Type'].value_counts()

Severe Weather                                         447
System Operations                                      295
Vandalism                                              239
Transmission Interruption                              144
Suspicious Activity                                    134
Severe Weather/Transmission Interruption                40
Actual Physical Attack                                  36
Fuel Supply Deficiency                                  30
Cyber Event                                             19
Actual Physical Attack/Vandalism                        11
Severe Weather/Distribution Interruption                10
Generation Inadequacy                                    7
Severe Weather/Transmisison Interruption                 6
Natural Disaster                                         5
Suspicious activity                                      4
Sabotage                                                 4
Distribution Interruption                                3
Potential Physical Attack                                2
Transmission Interruption/Distribution Interruption      1
Sever Weather                                            1
Name: Event Type, dtype: int64

In [4]:
df_concat3['Event Type'].replace(to_replace='Sever Weather', value='Severe Weather', inplace=True)
df_concat3['Event Type'].replace(to_replace='Suspicious activity', value='Suspicious Activity', inplace=True)

df_concat3['Event Type'].value_counts()

Severe Weather                                         448
System Operations                                      295
Vandalism                                              239
Transmission Interruption                              144
Suspicious Activity                                    138
Severe Weather/Transmission Interruption                40
Actual Physical Attack                                  36
Fuel Supply Deficiency                                  30
Cyber Event                                             19
Actual Physical Attack/Vandalism                        11
Severe Weather/Distribution Interruption                10
Generation Inadequacy                                    7
Severe Weather/Transmisison Interruption                 6
Natural Disaster                                         5
Sabotage                                                 4
Distribution Interruption                                3
Potential Physical Attack                                2
Transmission Interruption/Distribution Interruption      1
Name: Event Type, dtype: int64

In [5]:
df_concat3.to_csv('datasets/df_concat3.csv')

### Adding the 'Event duration' column - part 1

In [6]:
pd.read_csv('datasets/df_concat3.csv')
df_concat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Date Event Began              1438 non-null   object
 2   Time Event Began              1438 non-null   object
 3   Date of Restoration           1438 non-null   object
 4   Time of Restoration           1438 non-null   object
 5   Area Affected                 1438 non-null   object
 6   NERC Region                   1438 non-null   object
 7   Event Type                    1438 non-null   object
 8   Demand Loss (MW)              1438 non-null   object
 9   Number of Customers Affected  1438 non-null   object
 10  Year                          1438 non-null   int64
dtypes: int64(1), object(10)
memory usage: 123.7+ KB

In [7]:
df_concat3.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington,WECC,System Operations,0,Unknown,2019
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,Washington,WECC,Severe Weather,Unknown,230000,2019
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019

In [10]:
#
df_concat3['Date/Time Event Began'] = df_concat3['Date Event Began'] +' '+ df_concat3['Time Event Began']
df_concat3['Date/Time Restoration'] = df_concat3['Date of Restoration'] +' '+ df_concat3['Time of Restoration']
df_concat3.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration
0,January,01/05/2019,13:19:00,01/05/2019,15:07:00,Washington,WECC,System Operations,0,Unknown,2019,01/05/2019 13:19:00,01/05/2019 15:07:00
1,January,01/06/2019,03:00:00,01/09/2019,07:00:00,Washington,WECC,Severe Weather,230,230000,2019,01/06/2019 03:00:00,01/09/2019 07:00:00
2,January,01/06/2019,17:56:00,01/06/2019,21:52:00,California,WECC,Severe Weather,300,90382,2019,01/06/2019 17:56:00,01/06/2019 21:52:00
3,January,01/06/2019,01:00:00,01/06/2019,12:00:00,Washington,WECC,Severe Weather,Unknown,230000,2019,01/06/2019 01:00:00,01/06/2019 12:00:00
4,January,01/07/2019,20:57:00,01/07/2019,21:32:00,Michigan,RF,System Operations,0,0,2019,01/07/2019 20:57:00,01/07/2019 21:32:00

In [12]:
df_concat4 = df_concat3.drop(columns=['Date Event Began','Time Event Began','Date of Restoration','Time of Restoration'])
df_concat4.head()

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration
0,January,Washington,WECC,System Operations,0,Unknown,2019,01/05/2019 13:19:00,01/05/2019 15:07:00
1,January,Washington,WECC,Severe Weather,230,230000,2019,01/06/2019 03:00:00,01/09/2019 07:00:00
2,January,California,WECC,Severe Weather,300,90382,2019,01/06/2019 17:56:00,01/06/2019 21:52:00
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,01/06/2019 01:00:00,01/06/2019 12:00:00
4,January,Michigan,RF,System Operations,0,0,2019,01/07/2019 20:57:00,01/07/2019 21:32:00

In [13]:
df_concat4['Date/Time Event Began'] = pd.to_datetime(df_concat4['Date/Time Event Began'], errors='coerce')
df_concat4['Date/Time Restoration'] = pd.to_datetime(df_concat4['Date/Time Restoration'], errors='coerce')

df_concat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1438 non-null   object
 5   Number of Customers Affected  1438 non-null   object
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   datetime64[ns]
 8   Date/Time Restoration         1242 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 101.2+ KB

In [30]:
df_concat4.to_csv('datasets/df_concat4.csv', index=False)

### Adding the 'Event duration' column - part 2

In [6]:
df_concat4 = pd.read_csv('datasets/df_concat4.csv')
df_concat4.head()

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00

In [7]:
df_concat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1438 non-null   object
 5   Number of Customers Affected  1438 non-null   object
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   object
 8   Date/Time Restoration         1242 non-null   object
dtypes: int64(1), object(8)
memory usage: 101.2+ KB

In [8]:
df_concat4['Date/Time Event Began'] = pd.to_datetime(df_concat4['Date/Time Event Began'], errors='coerce')
df_concat4['Date/Time Restoration'] = pd.to_datetime(df_concat4['Date/Time Restoration'], errors='coerce')

df_concat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1438 non-null   object
 5   Number of Customers Affected  1438 non-null   object
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   datetime64[ns]
 8   Date/Time Restoration         1242 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 101.2+ KB

In [9]:
time1 = df_concat4['Date/Time Restoration'][0] - df_concat4['Date/Time Event Began'][0]
time1

Timedelta('0 days 01:48:00')

In [17]:
time1.seconds/(60*60)

1.8

In [18]:
df_concat5 = df_concat4.copy()
df_concat5.head()

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00

In [26]:
df_concat5['Event Duration (hours)'] = None
df_concat5.head()

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration,Event Duration (hours)
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00,None
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00,None
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00,None
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00,None
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00,None

In [34]:
event_duration = df_concat5['Date/Time Restoration'] - df_concat5['Date/Time Event Began']
event_duration

0      0 days 01:48:00
1      3 days 04:00:00
2      0 days 03:56:00
3      0 days 11:00:00
4      0 days 00:35:00
             ...
1433               NaT
1434   0 days 08:52:00
1435               NaT
1436   2 days 04:00:00
1437   0 days 11:00:00
Length: 1438, dtype: timedelta64[ns]

In [39]:
for i in range(len(event_duration)):
    df_concat5.loc[i,'Event Duration (hours)'] = round(event_duration[i].seconds/(60*60),2)

df_concat5.head()

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration,Event Duration (hours)
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00,1.8
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00,4.0
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00,3.93
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00,11.0
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00,0.58

In [40]:
df_concat5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1438 non-null   object
 5   Number of Customers Affected  1438 non-null   object
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   datetime64[ns]
 8   Date/Time Restoration         1242 non-null   datetime64[ns]
 9   Event Duration (hours)        1242 non-null   object
dtypes: datetime64[ns](2), int64(1), object(7)
memory usage: 112.5+ KB

In [41]:
df_concat5

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration,Event Duration (hours)
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00,1.8
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00,4.0
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00,3.93
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00,11.0
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00,0.58
...,...,...,...,...,...,...,...,...,...,...
1433,December,Ohio,RF,Vandalism,2600,Unknown,2022,2022-12-29 16:00:00,NaT,NaN
1434,December,Oregon,WECC,Transmission Interruption,0,0,2022,2022-12-30 05:25:00,2022-12-30 14:17:00,8.87
1435,December,Minnesota,MRO,Transmission Interruption,Unknown,Unknown,2022,2022-12-30 17:04:00,NaT,NaN
1436,December,Nevada,WECC,Severe Weather,Unknown,3500,2022,2022-12-31 20:00:00,2023-01-03 00:00:00,4.0
1437,December,California,WECC,Severe Weather,Unknown,161000,2022,2022-12-31 19:00:00,2023-01-01 06:00:00,11.0

In [42]:
df_concat5.to_csv('datasets/df_concat5.csv', index=False)

### Replacing 'Unknown' with 'NaN'

In [44]:
df_concat5 = pd.read_csv('datasets/df_concat5.csv')
df_concat5

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration,Event Duration (hours)
0,January,Washington,WECC,System Operations,0,Unknown,2019,2019-01-05 13:19:00,2019-01-05 15:07:00,1.80
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00,4.00
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00,3.93
3,January,Washington,WECC,Severe Weather,Unknown,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00,11.00
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00,0.58
...,...,...,...,...,...,...,...,...,...,...
1433,December,Ohio,RF,Vandalism,2600,Unknown,2022,2022-12-29 16:00:00,NaN,NaN
1434,December,Oregon,WECC,Transmission Interruption,0,0,2022,2022-12-30 05:25:00,2022-12-30 14:17:00,8.87
1435,December,Minnesota,MRO,Transmission Interruption,Unknown,Unknown,2022,2022-12-30 17:04:00,NaN,NaN
1436,December,Nevada,WECC,Severe Weather,Unknown,3500,2022,2022-12-31 20:00:00,2023-01-03 00:00:00,4.00
1437,December,California,WECC,Severe Weather,Unknown,161000,2022,2022-12-31 19:00:00,2023-01-01 06:00:00,11.00

In [45]:
df_concat5.replace(to_replace='Unknown', value=np.nan, inplace=True)
df_concat5

,Month,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Year,Date/Time Event Began,Date/Time Restoration,Event Duration (hours)
0,January,Washington,WECC,System Operations,0,NaN,2019,2019-01-05 13:19:00,2019-01-05 15:07:00,1.80
1,January,Washington,WECC,Severe Weather,230,230000,2019,2019-01-06 03:00:00,2019-01-09 07:00:00,4.00
2,January,California,WECC,Severe Weather,300,90382,2019,2019-01-06 17:56:00,2019-01-06 21:52:00,3.93
3,January,Washington,WECC,Severe Weather,NaN,230000,2019,2019-01-06 01:00:00,2019-01-06 12:00:00,11.00
4,January,Michigan,RF,System Operations,0,0,2019,2019-01-07 20:57:00,2019-01-07 21:32:00,0.58
...,...,...,...,...,...,...,...,...,...,...
1433,December,Ohio,RF,Vandalism,2600,NaN,2022,2022-12-29 16:00:00,NaN,NaN
1434,December,Oregon,WECC,Transmission Interruption,0,0,2022,2022-12-30 05:25:00,2022-12-30 14:17:00,8.87
1435,December,Minnesota,MRO,Transmission Interruption,NaN,NaN,2022,2022-12-30 17:04:00,NaN,NaN
1436,December,Nevada,WECC,Severe Weather,NaN,3500,2022,2022-12-31 20:00:00,2023-01-03 00:00:00,4.00
1437,December,California,WECC,Severe Weather,NaN,161000,2022,2022-12-31 19:00:00,2023-01-01 06:00:00,11.00

In [46]:
df_concat5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1028 non-null   object
 5   Number of Customers Affected  1250 non-null   object
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   object
 8   Date/Time Restoration         1242 non-null   object
 9   Event Duration (hours)        1242 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 112.5+ KB

In [60]:
df_concat5['Demand Loss (MW)'] = df_concat5['Demand Loss (MW)'].astype('float64')
df_concat5['Number of Customers Affected'] = df_concat5['Number of Customers Affected'].astype('float64')

df_concat5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         1438 non-null   object
 1   Area Affected                 1438 non-null   object
 2   NERC Region                   1438 non-null   object
 3   Event Type                    1438 non-null   object
 4   Demand Loss (MW)              1028 non-null   float64
 5   Number of Customers Affected  1250 non-null   float64
 6   Year                          1438 non-null   int64
 7   Date/Time Event Began         1438 non-null   object
 8   Date/Time Restoration         1242 non-null   object
 9   Event Duration (hours)        1242 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 112.5+ KB

In [61]:
df_concat5['Number of Customers Affected'].dropna().describe()

count    1.250000e+03
mean     5.614533e+04
std      1.646479e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      5.884475e+04
max      2.000000e+06
Name: Number of Customers Affected, dtype: float64

In [62]:
df_concat5.to_csv('datasets/df_concat6.csv', index=False)

In [ ]:
# columns to add
# 1.event duration (hours)
# 2. year - ok
# 3. state (from 'Area affected') - ok
# 

# columns to remove
# 'alert criteria' - ok

In [ ]:
# pandas concat example

# https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [ ]:
# datetime example

#https://www.geeksforgeeks.org/calculate-time-difference-in-python/

#import datetime
#    
#time1 = datetime.datetime(2018, 10, 12, 20, 15, 40)
#time2 = datetime.datetime(2015, 2, 10, 15, 41, 30)
#  
#difference = time1 - time2 
#print('Difference is : ', difference)
#    
#minutes = divmod(difference.total_seconds(), 60) 
#print('Difference in minutes: ', minutes[0],
#      'minutes', minutes[1], 'seconds')
#    
#  
#minutes = divmod(difference.seconds, 60) 
#print('Total difference in minutes: ', minutes[0], 'minutes',minutes[1], 'seconds')


# https://www.dataquest.io/blog/datetime-in-pandas/

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

In [ ]:
# charts to visualize dates

#https://www.pygmt.org/v0.4.0/tutorials/date_time_charts.html
#https://pythonhosted.org/calmap/

In [ ]:
# NERC REGIONS

#https://www.nerc.com/AboutNERC/keyplayers/PublishingImages/NERC%20Assessment%20Areas.png